<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Assignments">
  <test thread-count="1" name="testingtest">
    <classes>
      <class name="com.mycompany.app.AssignmentOne"/>
      <class name="com.mycompany.app.AssignmentTwo"/>
    </classes>
  </test> 
</suite>
